<div class="page__global">
  <div class="page__global_info">
    <nav class="menu">
      <ul class="menu_list">
        <li><a routerLink="" class="link">About Us</a></li>
        <li><a routerLink="" class="link">Log in</a></li>
      </ul>
    </nav>
    <div class="btn-section">
      <button *ngIf="!isRendered" class="btn__call-modal-window" (click)="onClickStart()">Start</button>
    </div>
    <div id="form" class="page__global_modal-window" *ngIf="isRendered">
      <form class="form" [formGroup]="gameSettingsForm">
        <div>
          <label *ngFor="let category of htmlService.categories" >
            <input type="radio" formControlName="category" value="{{category.category}}" (click)="onCategorySelect(this.category.category)" name="category" >
            {{category.category}}
          </label>
        </div>
        <div>
          <label *ngFor="let theme of htmlService.themes">
            <input type="radio" formControlName="theme" value="{{theme.theme}}"  name="theme" (click)="onThemeSelect(this.theme.theme)">
            {{theme.theme}}
          </label>
        </div>
        <input routerLink="/game" class="link link_submit text-submit" type="submit" (click)="onClickStartToPlay()" value="Start to play" >
      </form>
      <!--/* routerLink="/game" */-->
    </div>
  </div>
</div>
