.page__global_info {
  margin: auto;
  height: 100%;
  display: flex;
  align-items:center;
  flex-direction: column;
}

.btn-section {
  flex: 2;
  margin-top: 70px;
}

.page__global_modal-window {
  display: flex;
  position: absolute;
  margin-top: 40vh;
}

.form {
  max-width: 560px;
  padding: 50px;
  justify-content: center;
  background-color: #dddddd;
  border-radius: 5px;
}

.inputs {
  margin-bottom: 22px;
  display: flex;
  justify-content: space-evenly;
}

.input {
  display: block;
  position: relative;
  height: auto;
  padding: 20px;

  font-size: 20px;
  border: none;
  box-sizing: border-box;
}

.input_category {
  background-color: #444e6f;
  width: 20px;
  margin: auto 5px;
}

.input_theme {
  background-color: #49526f;
  width: 20px;
  margin: auto 5px;
}

.link_submit {
  display: block;
  width: 380px;
  height: 52px;
  margin: 6% auto 0;
  border: none;
  text-transform: uppercase;
  background: #2d395b;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 800;
  text-align: center;
  padding: 0 0 0 15px;
}

.form__category {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.form__theme {
  display: flex;
  justify-content: space-between;
}


.label_input_theme {
  line-height: 90px;
}

.label_input_category {
  line-height: 90px;
}
