.page__global {
  background-color: #38425d;
  width: 100vw;
  height: 100vh;
  /*position: absolute;*/
}

.page__global_info {
  margin: auto;
  height: 100%;
  display: flex;
  align-items:center;
  flex-direction: column;
}

.menu {
  width: 100%;
  flex: 1;
}

.menu_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.link {
  height: 20px;
  width: 100px;
  display: inline-block;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  color: #38425d;
  background-color: #ffe58d;
}

.btn-section {
  flex: 2;
}

.btn__call-modal-window {
  margin: auto;
  padding: 42px 84px;
  border: none;
  text-align: center;
  text-decoration: none;
  background-color: #ffe58d;
  color: #38425d;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 5px;
}

.btn__call-modal-window:hover {
  background-color: #fdff60;
  cursor: pointer;
}

.page__global_modal-window {
  display: flex;
  position: absolute;
  margin-top: 40vh;
}

.form {
  max-width: 560px;
  padding: 50px;
  justify-content: center;
  background-color: #ffe58d;
}

.inputs {
  margin-bottom: 22px;
  display: flex;
  justify-content: space-evenly;
}

.input {
  display: block;
  position: relative;
  height: auto;
  padding: 20px;

  font-size: 20px;
  border: none;
  box-sizing: border-box;
}

.input_category {
  background-color: #444e6f;
  width: 20px;
  margin: auto 5px;
}

.input_theme {
  background-color: #49526f;
  width: 20px;
  margin: auto 5px;
}

.link_submit {
  display: block;
  width: 196px;
  height: 52px;
  margin: 6% auto 0;
  border: none;
  text-transform: uppercase;
  background: coral;
  font-size: 17px;
  font-weight: 800;
  text-align: center;
  padding: 0 0 0 7px;
}

.label_input_theme {
  line-height: 90px;
}

.label_input_category {
  line-height: 90px;
}
