<div class="page__global">
  <div class="page__global_info">
    <nav class="menu">
      <ul class="menu_list">
        <li><a routerLink="/about-us" class="link">About Us</a></li>
<!--        <li><a routerLink="" class="link">Log in</a></li>-->
      </ul>
    </nav>
    <div class="btn-section">
      <button *ngIf="isRenderedStart" class="btn btn--start" (click)="onClickStart()">Start!</button>
    </div>
    <div id="form" class="page__global_modal-window" *ngIf="isRenderedSet">
      <form class="form" [formGroup]="gameSettingsForm">
        <h3 class="form__title">Game settings</h3>
        <p class="form__theme__title">Choose text category:</p>
        <div class="form__category">
          <label class="form__label" *ngFor="let category of htmlService.categories" >
            <input type="radio" formControlName="category" value="{{category.category}}" (click)="onCategorySelect(this.category.category)" name="category" >
            {{category.category}}
          </label>
        </div>
        <div class="form__theme">
          <p class="form__theme__title">Choose text subject:</p>
          <div class="form__theme__input">
            <label class="form__label" *ngFor="let theme of htmlService.themes">
              <input type="radio" formControlName="theme" value="{{theme.theme}}" (click)="onThemeSelect(this.theme.theme, this.theme.idtheme)" name="theme">
              {{theme.theme}}
            </label>
          </div>
        </div>
        <input class="link link_submit text-submit" type="submit" (click)="onClickStartToPlay()" value="Start to play" >
      </form>
    </div>
    <div class="start-timer" *ngIf="this.isRenderedTimer">
      <p class="start-timer__title">{{this.startTimerTitle}}</p>
      <p  class="timer">{{this.timer}}</p>
      <button class="link link_submit text-submit" *ngIf="!isConnected" type="submit" (click)="onClickStartSinglePlayerGame()">Start single player game</button>
    </div>
  </div>

  <header class="header-logo">crazy typing race</header>
</div>
