<div class="container">
  <div class="header">
    <h2 class="title">Hello my God! Welcome in admin page</h2>
    <p class="title title--sm">What do you want to create or add?</p>
  </div>
  <div class="admin-form">
    <div class="admin-form__categoryAndThemeAddition">
      <div class="admin-form__categoryAddition">
        <form [formGroup]="categoryAdditionForm" (ngSubmit)="onSubmitCategory()">
          <label>Category
            <input formControlName="category"></label>
          <button type="submit">Save</button>
        </form>
      </div>
      <div class="admin-form__themeAddition">
        <form [formGroup]="themeAdditionForm" (ngSubmit)="onSubmitTheme()">
          <label>Category
            <input formControlName="category"></label>
          <label>Theme
            <input formControlName="theme"></label>
          <button type="submit">Save</button>
        </form>
      </div>
    </div>
      <div class="admin-form__textAddition">
        <form class="admin-formText" [formGroup]="textAdditionForm" (ngSubmit)="onSubmitText()" novalidate>
          <label>Category
            <input formControlName="category"></label>
          <label>Theme
            <input formControlName="theme"></label>
          <label>Body
            <input formControlName="body"></label>
          <button type="submit">Save</button>
        </form>
      </div>
  </div>
</div>
