/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
@import "~reset-css";

*, *:before, *:after {
  box-sizing: border-box;
}

.page__global {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(-25deg, #180d21 0%, #192240 100%);
}

.page__global_modal-window {
  display: flex;
  position: absolute;
  margin-top: 30vh;
}

.header-logo {
  color: #FFF;
  opacity: .2;
  letter-spacing: 1.1rem;
  text-transform: uppercase;
  font-size: 6vw;
  font-weight: bold;
  margin: 13px;
  padding: 0;
}

.menu {
  width: 100%;
  flex: 1;
  max-height: 10vh;
}

.menu_list {
  padding: 10px;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.btn {
  position: relative;
  padding: 1.0rem 2.1rem 1.0rem 3.2rem;
  font-size: 2.0rem;
  color: #96B7C4;
  background-color: transparent;
  letter-spacing: .8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  user-select: none;
  border: none;
}

.btn:hover {
  /*background-image: linear-gradient(-25deg, #2e395b 0%, #283152 100%);*/
  color: #00BFFF;
  border: none;
}

.btn:focus {
  outline: none;
}

.link {
  position: relative;
  font-size: 1.4rem;
  color: #96B7C4;
  letter-spacing: .8rem;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

.link:hover {
  color: #00BFFF;
  transition-delay: .1s;
}
