/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
@import "~reset-css";

*, *:before, *:after {
  box-sizing: border-box;
}

.page__global {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(-25deg, #283152 0%, #2e395b 100%);
}

.header-logo {
  color: #FFF;
  opacity: .2;
  letter-spacing: 1.1rem;
  text-transform: uppercase;
  font-size: 6vw;
  font-weight: bold;
  margin: 13px;
  padding: 0;
}

.menu {
  width: 100%;
  flex: 1;
}

.menu_list {
  padding: 10px;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.btn {
  position: relative;
  padding: 1.4rem 3.1rem 1.4rem 4.2rem;
  font-size: 1.4rem;
  color: #2e486b;
  letter-spacing: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  user-select: none;
  border-radius: 5px;
}

.btn:hover {
  background-image: linear-gradient(-25deg, #2e395b 0%, #283152 100%);
  color: #FFF;
  border: none;
}

.link {
  position: relative;
  font-size: 1.4rem;
  color: #FFF;
  letter-spacing: 1.1rem;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

.link:hover {
  color: #96B7C4;
  transition-delay: .1s;
}
