<div class="page__global">
  <nav class="menu">
    <ul class="menu_list">
      <li><a routerLink="/home" class="link">return to home</a></li>
    </ul>
  </nav>
  <div class="about-us">
    <h1 class="about-us__title line-after">Welcome to the Crazy typing race!</h1>
    <div class="about-us__content">
      <div class="about-us__our-project line-after">
        <h2 class="about-us__title">About our project</h2>
        <p class="about-us__text line-after">Crazy typing Race is a racing game, thanks to which you can learn to type quickly on the keyboard.</p>
      </div>
      <div class="about-us__our-team">
        <h2 class="about-us__title">About our team</h2>
        <p class="about-us__text">Makedon Vladyslav - frontend developer<br> Kotenko Yulia - frontend developer <br> Tyshchenko Dmytro - backend developer</p>
      </div>
    </div>
  </div>
</div>
